#primary {
  padding-block: 20px;
  width: 100%;
  & div {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  /* nestig css */
  & div:nth-child(2) {
    margin-inline: auto;
  }

  & div:nth-child(3) {
    justify-self: end;
  }
}

#primary.grid-flow {
  grid-auto-flow: column;
}

#secondary {
  display: flex;
  overflow: scroll;
  flex-wrap: nowrap;
  gap: 32px;
  padding-block: 14px;
  border: solid 1px var(--stroke-color);
  border-inline: none;
  justify-content: space-between;

  & a {
    text-wrap: nowrap;
  }
}

@media (width >= 80em) {
  #secondary {
    overflow: visible;
    flex-wrap: nowrap;
  }
}
