#app {
  display: grid;
  grid-template-columns: 51.25% 48.75%;

  height: 100vh;
  overflow: hidden;
}

.mobile-only {
  display: none;
}

main {
  overflow: auto;
  padding: 4rem;

  & .main-container {
    max-width: 33rem;
    margin-left: auto;
  }

  & .back {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
  }

  & h1 {
    font: var(--heading2);
    margin-bottom: 0.5rem;
  }
}

aside {
  background-color: var(--surface-secondary);
  padding: 4rem;

  & .aside-container {
    max-width: 31rem;

    & > img {
      margin-top: 2rem;
    }
  }

  & h2 {
    font: var(--heading1);
    margin-bottom: 0.5rem;
    & span {
      color: var(--text-highlight);
    }
  }
}

@media (width < 80em) {
  #app {
    grid-template-columns: 1fr;
  }

  .mobile-only {
    display: initial;
  }

  .aside-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: var(--surface-secondary);
    margin: -1.5rem;
    margin-bottom: 1.5rem;
    padding-block: 1rem;
    justify-content: center;
    align-items: center;

    & > img {
      width: 312px;
    }
  }

  main {
    padding: 1.5rem;
  }
}
