header {
  padding-block: 0.75rem;
}

header .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font: var(--text-md);
  gap: 2rem;
}

#profile {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

#profile img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}

#profile > div {
  max-width: 296px;
}

#profile h1 {
  font: var(--text-lg-mobile);
  color: var(--text-color-primary);
  margin-bottom: 8px;
}

#info {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 280px;
}

#info li {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (width >= 80em) {
  header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font: var(--text-md);
    gap: 0;
  }

  #profile > div {
    max-width: 384px;
  }

  #profile {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  #profile img {
    width: 176px;
    height: 176px;
    object-fit: cover;
    border-radius: 50%;
  }

  #profile h1 {
    font: var(--text-lg);
    color: var(--text-color-primary);
    margin-bottom: 8px;
  }
}
